<footer class="footerContainer">
    <nav class="footerNavContainer">
        <ul>
            <li><a href="">lien</a></li>
            <li><a href="">lien</a></li>
            <li class="footerLogo">
                <a href="{{ path('app_home') }}"><img src="{{ asset('images/survival_games_logo.png') }}" alt="logo survival game bordeaux"></a>
            </li>
            <li><a href="">lien</a></li>
            <li><a href="">lien</a></li>
        </ul>
    </nav>
</footer>